* {
  margin: 0;
  padding: 0;
  background-color: #171923;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#showcase {
  /* height: 100vh; */
  height: 49vh;
}

ul {
  list-style-type: none;
  margin-right: 130px;
}

li {
  float: right;
  font-family: "Rubik", sans-serif;
}

li a {
  display: block;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 70px;
}

.le {
  padding-top: 50px;
  padding-left: 80px;
  width: 60px;
}

h1 {
  font-size: 45px;
  position: absolute;
  max-width: 750px;
  left: 120px;
  top: 150px;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

/* h2 {
  font-size: 40px;
  max-width: 800px;
  position: absolute;
  max-width: 800px;
  left: 120px;
  top: 195px;
  color: #a4c6e5;
  opacity: 35%;
} */

p.bio {
  font-size: 20px;
  max-width: 400px;
  position: absolute;
  left: 120px;
  top: 285px;
  color: rgb(160, 174, 192);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 97%;
  margin: auto;
}

.item {
  width: 42%;
  margin: 1%;
  position: relative;
}

.item h3 {
  font-size: 23px;
  padding: 10px 0px;
}

.item h4 {
  color: rgb(203, 213, 224);
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 300;
}

.item p {
  color: rgb(203, 213, 224);
  font-size: 15px;
}

.item img {
  height: 400px;
  width: 100%;
}
